<h1>Login</h1>

<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-input-container">
    <label for="username-input">
      Username:
    </label>
    <input id="username-input" class="form-input" type="text" placeholder="Username..." formControlName="username"
      required />
  </div>

  <div class="form-input-container">
    <label for="password-input">
      Password:
    </label>
    <input id="password-input" class="form-input" type="password" placeholder="Password..." formControlName="password"
      required />
  </div>

  <button class="login-button" type="submit">
    Log In
  </button>

  <button class="signup-button" type="button">
    Create Account
  </button>
</form>