.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  width: 100%;
  background-color: #23304D;
  color: #D8E2FF;
  border: none;
  margin-top: 10px;
  font-size: 40px;
  font-family: "Oregano";
  cursor: pointer;
}