th {
  font-weight: bold;
}

td,
th {
  font-size: 18px;
  color: white;
}

td {
  cursor: pointer;
}

td:hover {
  color: #81D3DE;
}

table,
.mat-paginator {
  background-color: #004F56;
  color: white;
}

.favorites-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3%;
}