.search-bar {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.search-input {
  font-size: 1.5rem;
  padding: 1.5%;
  width: 75vw;
  border: none;
  border-radius: 50px;
}

.search-input::placeholder {
  opacity: 0.5;
}