<form class="add-recipe-form" [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
  <h1>General Info</h1>
  <div class="general-info-section">
    <div class="form-input-container">
      <label for="recipe-name-input">
        Recipe Name:
      </label>
      <input id="recipe-name-input" class="form-input" type="text" placeholder="Name..." formControlName="name" />
    </div>

    <div class="form-input-container">
      <label for="recipe-type-dropdown">
        Type:
      </label>
      <select id="recipe-type-dropdown" class="form-input" formControlName="type">
        <option value="">Select a type</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Side">Side</option>
        <option value="Dessert">Dessert</option>
      </select>
    </div>

    <div class="form-input-container">
      <label class="recipe-image-label" for="recipe-image-input">
        Choose Recipe Image
      </label>
      <input type="file" id="recipe-image-input" accept="image/*" (change)="loadImagePreview($event)" />
    </div>

    <img *ngIf="previewUrl" class="recipe-image-preview" [src]="previewUrl" />
  </div>

  <h1>Ingredients</h1>
  <div class="ingredients-section" formArrayName="ingredients">
    <div class="form-input-container" *ngFor="let ingredient of ingredients.controls; let i=index">
      <label for="ingredient-input-{{i}}">
        Ingredient {{i + 1}}:
      </label>
      <div class="removable-input-container">
        <input type="text" id="ingredient-input-{{i}}" class="removable-input" placeholder="Add ingredient..."
          [formControlName]="i" />

        <button class="remove-input-button" (click)="removeIngredient(i)" type="button">
          <img class="remove-input-image" src="../../assets/remove.png" />
        </button>
      </div>
    </div>

    <button class="add-ingredient-button" type="button" (click)="addIngredient()">
      Add Ingredient
    </button>
  </div>

  <h1>Instructions</h1>
  <div class="instructions-section" formArrayName="instructions">
    <div class="form-input-container" *ngFor="let instruction of instructions.controls; let i=index">
      <label for="instruction-input-{{i}}">
        Instruction {{i + 1}}:
      </label>

      <div class="removable-input-container">
        <input type="text" id="instruction-input-{{i}}" class="removable-input" placeholder="Add instruction..."
          [formControlName]="i" />

        <button type="button" class="remove-input-button" (click)="removeInstruction(i)">
          <img class="remove-input-image" src="../../assets/remove.png" />
        </button>
      </div>
    </div>

    <button class="add-instruction-button" type="button" (click)="addInstruction()">
      Add Instruction
    </button>
  </div>

  <div class="submit-button-container">
    <button class="submit-button" type="submit">
      Create Recipe
    </button>
  </div>
</form>