h1 {
  font-size: 36px;
  margin: 0;
}

label {
  margin-top: 10px;
  font-size: 28px;
  margin-bottom: 5px;
}

button {
  cursor: pointer;
  font-family: "Hanken Grotesk";
}

.add-recipe-form {
  padding: 2% 3%;
  font-family: "Hanken Grotesk";
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

.general-info-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.ingredients-section {
  margin-bottom: 5vh;
}

.form-input,
.removable-input {
  background-color: #00363C;
  color: white;
  font-size: 22px;
  font-family: "Hanken Grotesk";
  border: none;
  padding: 1%;
}

.form-input::placeholder,
.removable-input::placeholder {
  color: white;
}

#recipe-name-input {
  width: 50vw;
}
.removable-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.removable-input {
  flex: 0.95;
}

.remove-input-button {
  border: none;
  border-radius: 50%;
  background-color: #324B4E;
  width: 50px;
  height: 50px;
}

.remove-input-image {
  width: 100%;
}

.add-ingredient-button,
.add-instruction-button {
  margin-top: 10px;
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 30px;
  border: none;
  background-color: #324B4E;
  color: #CDE7EB;
  margin-right: 2%;
}

.submit-button-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #23304D;
  color: #B9C6EA;
  border: none;
  border-radius: 18px;
  font-size: 35px;
  padding: 15px 10px;
  font-style: italic;
  font-weight: 500;
}