h1 {
  font-family: "Oregano";
  font-size: 80px;
  text-align: center;
  color: #00363C;
  margin: 0;
}

label {
  color: #00363C;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

button {
  font-size: 20px;
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 18px;
  margin-top: 2vh;
  cursor: pointer;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: #00363C;
  color: #9DF0FB;
  font-size: 20px;
  padding: 2%;
  width: 60vw;
  margin-bottom: 2vh;
  border: none;
}

.form-input::placeholder {
  color: #9DF0FB;
  font-size: 20px;
}

.create-account-button {
  background-color: #324B4E;
  color: #CDE7EB;
  margin-top: 10vh;
}

.back-to-login-button {
  background-color: #B9C6EA;
  color: #23304D;
  margin-bottom: 1vh;
}