th {
  font-weight: bold;
}

td,
th {
  font-size: 1.2rem;
}

td {
  cursor: pointer;
}

.favorites-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3%;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}