<div class="settings-page-container">
  <h1>Credentials</h1>

  <div class="input-container">
    <label for="username-input">
      Username:
    </label>
    <div class="editable-input-container">
      <input id="username-input" class="settings-input" type="text" placeholder="Username" [formControl]="username" />
      <button class="edit-button" (click)="this.editingState = 'editingUsername'">
        <img class="edit-image" src="../../assets/edit.png" />
      </button>
    </div>

    <div class="buttons-container" *ngIf="this.editingState === 'editingUsername'">
      <button class="cancel-button" (click)="this.editingState = 'viewing';">
        Cancel
      </button>
      <button class="save-button" (click)="updateUsername()">
        Save
      </button>
    </div>
  </div>

  <div class="input-container">
    <label for="password-input">
      Password:
    </label>
    <div class="editable-input-container">
      <input id="password-input" class="settings-input" type="password" placeholder="New password" [formControl]="password" />
      <button class="edit-button" (click)="this.editingState = 'editingPassword'">
        <img class="edit-image" src="../../assets/edit.png" />
      </button>
    </div>
    
    <div class="buttons-container" *ngIf="this.editingState === 'editingPassword'">
      <button class="cancel-button" (click)="this.editingState = 'viewing'">
        Cancel
      </button>
      <button class="save-button" (click)="updatePassword()">
        Save
      </button>
    </div>
  </div>

  <div class="logout-button-container" (click)="logOut()">
    <button class="logout-button">
      Log Out
    </button>
  </div>
</div>