<form class="signup-form" [formGroup]="signUpForm" (ngSubmit)="createAccount()">
  <h1>Create Account</h1>

  <div class="form-input-container">
    <label for="email-input-signup">
      Email:
    </label>
    <input id="email-input-signup" name="email-input-signup" class="form-input" type="text" placeholder="Enter email here..." formControlName="email" required />
  </div>

  <div class="form-input-container">
    <label for="password-input-signup">
      Password:
    </label>
    <input id="password-input-signup" name="password-input-signup" class="form-input" type="password" placeholder="Enter password here..." formControlName="password" required />
  </div>

  <div class="form-input-container">
    <label for="retype-password-input-signup">
      Retype Password:
    </label>
    <input id="retype-password-input-signup" name="retype-password-input-signup" class="form-input" type="password" placeholder="Retype your password..." formControlName="retypePassword" required />
  </div>

  <button class="create-account-button" type="submit">
    Create Account
  </button>

  <button class="back-to-login-button" type="button" routerLink="/login">
    Back to Login
  </button>
</form>