label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
}

input {
  font-size: 1.2rem;
  border: none;
  padding: 1%;
}

input::placeholder {
  font-size: 1.2rem;
}

.create-user-form {
  display: flex;
  flex-direction: column;

  padding-top: 20vh;
  padding-left: 5%;
  padding-right: 5%;
}

.form-input-container {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.create-button-container {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.create-button {
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}