<div class="sidebar-content">
  <!-- Navigation buttons for the recipes table, users table, and settings page -->
  <button class="navigation-button" (click)="goToPage('/recipes')">
    <img src="../../assets/list.png" alt="Go to recipes table" />
    Recipes
  </button>
  <button class="navigation-button" (click)="goToPage('/users')">
    <img src="../../assets/person.png" alt="Go to users table" />
    Users
  </button>
  <button class="navigation-button" (click)="goToPage('/settings')">
    <img src="../../assets/settings.png" alt="Go to settings" />
    Settings
  </button>
</div>