<div class="sidebar-content">
  <button class="navigation-button" (click)="goToPage('/recipes')">
    <img src="../../assets/list.png" alt="Recipes navigation icon" />
    Recipes
  </button>
  <button class="navigation-button" (click)="goToPage('/users')">
    <img src="../../assets/person.png" alt="Users navigation icon" />
    Users
  </button>
  <button class="navigation-button" (click)="goToPage('/settings')">
    <img src="../../assets/settings.png" alt="Settings navigation icon" />
    Settings
  </button>
</div>