<p *ngIf="isLoading">Loading recipe...</p>

<div class="details-container" *ngIf="!isLoading">
  <div class="recipe-image-container">
    <img class="recipe-image" [src]="recipeImageUrl" alt="Image of {{selectedRecipe.name}}" />
    <sub>Source: {{imageSource}}</sub>
  </div>

  <div class="ingredients-section">
    <h2>Ingredients</h2>
    <ul class="ingredients-list">
      <li *ngFor="let ingredient of selectedRecipe.ingredients">{{ingredient}}</li>
    </ul>
  </div>

  <div class="instructions-section">
    <div class="step-tracker-container">
      <h2>Instructions</h2>

      <button class="step-button" (click)="previousStep()">
        <img src="../../assets/previous.png" alt="Move to instruction {{stepIndex}}" />

        <div class="button-tooltip">
          Previous Step
        </div>
      </button>

      <button class="step-button" (click)="nextStep()">
        <img src="../../assets/next.png" alt="Move to instruction {{stepIndex + 1}}" />

        <div class="button-tooltip">
          Next Step
        </div>
      </button>
    </div>

    <ol class="instructions-list">
      <li *ngFor="let instruction of selectedRecipe.instructions;let i=index" [class.current-step]="i === stepIndex">{{instruction}}.</li>
    </ol>
  </div>

  <div class="source-container">
    <p class="source" *ngIf="selectedRecipe.source">Source: {{getRecipeSourceText()}}</p>
  </div>
</div>