th {
  font-weight: bold;
}

td, th {
  font-size: 1.2rem;
}

td {
  cursor: pointer;
}

.recipe-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3%;
}

.mat-column-name {
  width: 30%;
}

.mat-column-author {
  width: 40%;
}

.mat-column-delete {
  width: 10%;
}

.delete-button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.delete-image {
  width: 80%;
}