th {
  font-weight: bold;
}

td, th {
  font-size: 18px;
  color: white;
}

td {
  cursor: pointer;
}

td:hover {
  color: #81D3DE;
}

table,
.mat-paginator {
  background-color: #004F56;
  color: white;
}

.recipe-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3%;
}

.mat-column-name {
  width: 50%;
}

.mat-column-type {
  width: 40%;
}

.mat-column-favorite {
  width: 10%;
}