th {
  font-weight: bold;
}

td, th {
  font-size: 1.2rem;
}

td {
  cursor: pointer;
}

.recipe-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3%;
}

.mat-column-name {
  width: 50%;
}

.mat-column-type {
  width: 40%;
}

.mat-column-favorite {
  width: 10%;
}

.favorite-button,
.unfavorite-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.unfavorite-icon {
  width: 80%;
}