<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1>Login</h1>
  
  <div class="form-input-container">
    <label for="email-input">
      Email:
    </label>
    <input id="email-input" class="form-input" type="text" placeholder="Email..." formControlName="email"
      required />
  </div>

  <div class="form-input-container">
    <label for="password-input">
      Password:
    </label>
    <input id="password-input" class="form-input" type="password" placeholder="Password..." formControlName="password"
      required />
  </div>

  <button class="login-button" type="submit">
    Log In
  </button>

  <button class="signup-button" type="button">
    Create Account
  </button>
</form>