<div class="sidebar-content">
  <!-- Button to close the sidenav to prevent keyboard traps -->
  <button class="close-button" (click)="this.sidebar.close()">
    <img class="close-icon" src="../../../assets/back.png" alt="Close sidenav bar" />
  </button>

  <!-- User navigation buttons -->
  <button class="navigation-button" (click)="goToPage('/recipes')">
    <img src="../../assets/list.png" alt="Go to recipes table" />
    Recipes
  </button>
  <button class="navigation-button" (click)="goToPage('/favorites')">
    <img src="../../assets/favorite.png" alt="Go to favorite recipes" />
    Favorites
  </button>
  <button class="navigation-button" (click)="goToPage('/add-recipe')">
    <img src="../../assets/add.png" alt="Go to add recipe form" />
    Add Recipe
  </button>
  <button class="navigation-button" (click)="goToPage('/settings')">
    <img src="../../assets/settings.png" alt="Go to settings" />
    Settings
  </button>
</div>