<div class="sidebar-content">
  <button class="navigation-button" (click)="goToPage('/recipes')">
    <img src="../../assets/list.png" alt="Recipes navigation icon" />
    Recipes
  </button>
  <button class="navigation-button" (click)="goToPage('/favorites')">
    <img src="../../assets/favorite.png" alt="Favorite recipes navigation icon" />
    Favorites
  </button>
  <button class="navigation-button" (click)="goToPage('/add-recipe')">
    <img src="../../assets/add.png" alt="Add recipe navigation icon" />
    Add Recipe
  </button>
  <button class="navigation-button" (click)="goToPage('/settings')">
    <img src="../../assets/settings.png" alt="Settings navigation icon" />
    Settings
  </button>
</div>