th {
  font-weight: bold;
}

td, th {
  font-size: 1.2rem;
}

td {
  cursor: pointer;
}

.users-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3%;
}

.mat-column-id {
  width: 15%;
}

.mat-column-email {
  width: 10%;
}

.mat-column-created,
.mat-column-updated {
  width: 10%;
}

.mat-column-ban {
  width: 5%;
}

.ban-button,
.unban-button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.ban-image {
  width: 90%;
}

.add-user-button {
  position: absolute;
  bottom: 5%;
  right: 5%;

  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}