li {
  font-size: 18px;
  margin-top: 10px;
}

.details-container {
  padding: 2%;
}

.recipe-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-image {
  width: 20%;
  margin-bottom: 10px;
}

.source-container {
  display: flex;
  justify-content: end;
}

.source {
  font-size: 20px;
  font-style: italic;
}