li {
  font-size: 18px;
  margin-top: 10px;
}

.details-container {
  padding: 3%;
}

.source-container {
  display: flex;
  justify-content: end;
}

.source {
  font-size: 20px;
  font-style: italic;
}