<div class="settings-page-container">
  <h1>Credentials</h1>

  <div class="input-container">
    <label for="email-input">
      Email:
    </label>
    <div class="editable-input-container">
      <input id="email-input" class="settings-input" type="text" placeholder="Email" [formControl]="email" />
      <button class="edit-button" (click)="this.editingState.next('editingEmail')">
        <img class="edit-image" src="../../assets/edit.png" />
      </button>
    </div>

    <div class="buttons-container" *ngIf="this.editingState.value === 'editingEmail'">
      <button class="cancel-button" (click)="this.editingState.next('viewing');">
        Cancel
      </button>
      <button class="save-button" (click)="updateEmail()">
        Save
      </button>
    </div>
  </div>

  <div class="input-container">
    <label for="password-input">
      Password:
    </label>
    <div class="editable-input-container">
      <input id="password-input" class="settings-input" type="password" placeholder="New password" [formControl]="password" />
      <button class="edit-button" (click)="this.editingState.next('editingPassword')">
        <img class="edit-image" src="../../assets/edit.png" />
      </button>
    </div>

    <div class="confirm-password-container" *ngIf="this.editingState.value === 'editingPassword'">
      <label for="confirm-password-input">
        Confirm password:
      </label>
      <input id="confirm-password-input" class="settings-input" type="password" placeholder="Retype password" [formControl]="confirmPassword" />
    </div>

    <div class="buttons-container" *ngIf="this.editingState.value === 'editingPassword'">
      <button class="cancel-button" (click)="this.editingState.next('viewing')">
        Cancel
      </button>
      <button class="save-button" (click)="updatePassword()">
        Save
      </button>
    </div>
  </div>

  <div class="logout-button-container" (click)="logOut()">
    <button class="logout-button">
      Log Out
    </button>
  </div>
</div>