h1 {
  font-size: 36px;
  margin: 0;
}

label {
  margin-top: 10px;
  font-size: 28px;
  margin-bottom: 5px;
}

button {
  cursor: pointer;
}

.settings-page-container {
  padding: 3%;
}

.input-container {
  margin-top: 3vh;
}

.editable-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-input {
  flex: 0.9;
  background-color: #00363C;
  color: white;
  font-size: 20px;
  padding: 1%;
  border: none;
}

.settings-input::placeholder {
  color: white;
}

.edit-button {
  margin-right: 2vw;
  background-color: #00363C;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.edit-image {
  width: 70%;
}

.save-button,
.cancel-button {
  background-color: #324B4E;
  color: #CDE7EB;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.logout-button-container {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}

.logout-button {
  background-color: #324B4E;
  color: #CDE7EB;
  font-size: 26px;
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
}